.aboutDescription{
  width: 100%;
  background-color: black;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/batGeo.svg");
  background-repeat: no-repeat;
  background-position: bottom bottom;
  background-size:20%;
  flex-shrink: 0.5;
  //border:1px solid white;
  .aboutText {
    width: 60%;
    min-width: 1000px;
    align-items: stretch;
    display: flex;
    justify-content: center;
    //border: 1px solid black;
    h2{
      font-size: 40px;
      color:$fifth-color;
      text-align: center;
      padding-bottom: 20px;
      text-transform: uppercase;
    }
    p{
      font-size: 20px;
      padding: 20px 0;
      text-indent: 20px;
      text-align: justify;
      //letter-spacing: 2px;
      line-height: 2;
      color:$fifth-color;
    }
  }
  .coliberImage img {
    width: 120%;
  }
  .coliberImage{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
