.aboutWork{
  width: 100%;
  background-color: $fifth-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  .about-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      width: 100%;
      color: $third-color;
      text-transform: capitalize;
      font-style: italic;
      font-size: 40px;
      font-weight: 900;
      text-align: center;
    }
    p{
      width: 60%;
      font-size: 20px;
      padding: 20px 0;
      //text-indent: 20px;
      text-align: justify;
      line-height: 2;
      color:$third-color;
    }
  }
}


