.aboutMe {
  width: 100%;
  min-height: 700px;
  //background: $third-color;
  content:"";
  background-image: url("../../img/spider_about.svg");
  background-repeat: no-repeat;
  background-position: -450px -280px;
  background-size:75%;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #050914;

    .img-about {
      width: 45%;
      opacity: 0.3;
      position: relative;
      top:30px;
      //border: 1px solid yellow;
      padding: 20px;
      //border:1px solid black;
      //border-radius: 50%;
    }

  .aboutContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

    .aboutText {
      position: relative;
      top:0;
      left:350px;

      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      //border: 1px solid white;
      padding: 20px 20px;
      h2 {
        text-transform: unset;
        font-size: 100px;
        color:$third-color;
        text-align: center;
        padding: 30px 0;
      }
      h3 {
        text-align:right;
        font-size: 30px;
        margin-top: 50px;
        transform: rotate(-10deg);
        font-weight: 200;
      }
      .aboutPara{
        //border:1px solid white;
        width: 100%;

        p {
          width: 25%;
          padding: 10px;
          display: block;
          margin: auto;
          text-align:left;
          font-size: 40px;
          font-style: italic;
          line-height: 50px;
          //font-weight: bold;
          color: $third-color;
        }

      }

    }
  }
}



