.contact {
  background-color: $first-color;
  width: 100%;
  height: calc(100vh - 70px);

  .avatarImage {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;

    img {
      width: 800px;
    }
  }

  .mainText {
    background-image: url("../../img/spider.svg");
    background-repeat: no-repeat;
    background-position:0 -10px;
    background-size:50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      width: 100%;
      line-height: 90px;
      font-size: 100px;
      color: #b2adad;
      padding: 10px;
      margin: 0 60px 20px 60px;
      span {
        color:$fifth-color;
      }
    }

    span {
      color:#b2adad;
    }

    p {
      color: $third-color;
      font-size: 25px;
      padding-top: 10px;
      margin-left: 120px;
      font-weight: bold;
    }
  }
}
