.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  //border:1px solid black;
}

.home{
  width: 100%;
  min-height: 100vh;
  background-color: $first-color;
  background-image:url("../../img/woolfT.svg");
  background-repeat: no-repeat;
  background-position-y: 0;
  background-position-x: 900px;
  background-size: 90%;
  //border:1px solid blue;
  display: flex;
  align-items: center;

  .avatarImage{
    //border:1px solid yellow;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    padding-bottom: 0;
    img{
      width: 700px;
      position: relative;
      top:33px;
    }
  }
  .mainText{
    width: 100%;
    //border:1px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1{
      width: 90%;
      font-size: 100px;
      color: $fifth-color;
      //border:1px solid black;
      padding: 40px 60px;
    }

    span{
      color:#b2adad;
    }

    p{
      width: 90%;
      //border:1px solid black;
      color: $third-color;
      font-size: 25px;
      padding: 10px 65px;
      font-weight: bold;
      span{
        text-transform: uppercase;
      }
    }
  }
  button{
    background-color: transparent;
    border: none;
    width: 160px;
    margin: 5% 5%;
    .homeBtn{
      width: 160px;
      margin: 2% 20px;
      padding: 15px 20px;
      text-align: center;
      text-decoration: none;
      list-style-type: square;
      position: relative;
      //background-color: #c64343;
      background-color: $fifth-color;
      border:2px solid $fifth-color;
      color: $sixth-color;
      border-radius: 5px;
      //border:none;
      font-size: 14px;
      font-weight: bold;
    }
    #btnHome::before {
      content:"";
      width: calc(100%);
      height: calc(100% - 23px);
      position: absolute;
      top:10px;
      left: 0;
      right: 5px;
    }
    a:hover {
      background-color: #d3c4c4;
      color: $fifth-color;
      border:none;
    }

  }

  //button {
  //  width: 160px;
  //  margin: 20% 60px;
  //  padding: 15px 20px;
  //  text-align: center;
  //  text-decoration: none;
  //  position: relative;
  //  border:2px solid $fifth-color;
  //  color: $fifth-color;
  //  background-color: transparent;
  //  border-radius: 5px;
  //  font-size: 14px;
  //  font-weight: bold;
  //}
  //
  //button span a {
  //  padding: 15px 20px;
  //  text-decoration: none;
  //  color: $first-color;
  //}
  //
  //button span {
  //  text-align: center;
  //  display: block;
  //  min-width: 150px;
  //  mix-blend-mode: color-burn;
  //}
  //
  //button:before {
  //  content:"";
  //  width: calc(100%);
  //  height: calc(100% - 23px);
  //  position: absolute;
  //  top:10px;
  //  left: 0;
  //  right: 5px;
  //}
  //
  //button:hover:before {
  //  background-color: #d3c4c4;
  //  border:none;
  //}
}





