$first-color:#77a69f; //kolor tła
$second-color: #F7F7F7;
$third-color:#ECD9D9;
$fourth-color:#E0DECF;
$fifth-color: #5E9189;
$sixth-color:#d3c4c4;
$text-color:#ffffff;
$second-text-color:#e5dede;
$button-color: #c96262; //przyciski, wyróżnienia, nagłówki ekranów
$background-color: #EBEBEB; //kolor tła ekranów
$features-color: #EBEBEB;
$info-color: #3498DB; //kolor wiadomości typu info,
$warning-color: #FFB03B; //kolor wiadomości typu warning
$success-color: #468966; //kolor wiadomości typu success,
$bucket-color: #BD4932; //kolor ikony kosza
$table-text-color: #A1A194; //kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
$width:  220px;
$height: 70px;
$border: 4px;
$violet: #6559ae;
$orange: #ff7159;

$deg:  120deg;
$size: 400%;
$dur:  3s;
